@page
@model IndexModel
@{
    ViewData["Title"] = "Applications";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <p>All your applications will be displayed here</p>
    <p>Applied for a new job?</p>
    <button type="button" class="collapsible">Add the application to the Hire Log</button>
    <div class="applicationform">
        <form>
            <label for="position">Position</label><br>
            <input type="text" id="position" name="position"><br>
            <label for="company">Company</label><br>
            <input type="text" id="company" name="company"><br>
            <label for="letter">Personal Letter</label><br>
            <input type="text" id="letter" name="letter"><br>
        </form>
    </div>
</div>

