@page
@model IndexModel
@{
    ViewData["Title"] = "Applications";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <p>All your applications will be displayed here</p>
</div>
