@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hire Log</h1>

    <p>This is your personal log for the positions your have applied to.</p>
</div>
